body
{
  /* Get Some */
}

.squares
{
  width: 33%;
  height: 33vh;
  background: grey;
  border-style: solid;
  border-color: red;
}

#ttt-container
{
  border: 8px solid red;
  width: 60%;
  padding-bottom: 60%;
  background: gold;
}

